/* font-family */
@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 100;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 200;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 300;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 400;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 500;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 600;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 700;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 800;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff) format('woff');}

@font-face {font-family: 'Pretendard';font-style: normal;font-weight: 900;src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff) format('woff');}

/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Pretendard', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #faf7ff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

.wrap {
	width: 70vw;
	margin: 0 auto;
	position: relative;
}

.wrap:after, ul:after {
	clear: both;
	content: "";
	display: block;
}


